@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #526442;
    --color-secondary: #ebead8;
    --color-accent: #4b351e;
}

html, body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    overscroll-behavior: none; /* Disables Pull-to-Refresh */
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-right {
    animation: slideInRight 0.3s ease-out forwards;
}

.animate-slide-left {
    animation: slideInLeft 0.3s ease-out forwards;
}

.animate-fade-up {
    animation: fadeInUp 0.3s ease-out forwards;
}